*{
    text-align: center;
}

.color-button{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 15%;
    display: inline-block;
    margin: 10px;
}

#G{
    background-color: rgb(152, 255, 152);
}
#R{
    background-color: rgb(255, 133, 133);
}
#Y{
    background-color: rgb(253, 253, 105);
}
#B{
    background-color: rgb(157, 225, 248);
}